h1 {
  font-family: courier
}

h2 {
  font-family: courier
}
p {
  font-family: courier new
}
.important {
color: red;
}
  img.main {
   border-radius: 50%;
   float: left;
 }
  .resize {
     width: 400px;
     height: auto;
 }
  .resize {
    width: 300px;
    height: auto;}

  .sidebar {
  column: right;
  background-color: yellow;}
.my-class {
  border: 2px solid purple;
  padding: 4px;
  margin: 12px;
}
