h1 {
  font-family: courier
}

h2 {
  font-family: courier
}
p {
  font-family: courier new
}
.important {
color: red;
}
  img.main {
   border-radius: 50%;
   float: left;
 }
  .resize {
     width: 400px;
     height: auto;
 }
  .resize {
    width: 300px;
    height: auto;}


.my-class {
  border: 2px dotted purple;
  padding: 4px;
  margin: 12px;

}
.sidebar {
  border: 2px solid black;
  width: 30%;
  float: right;
  background-color: yellow;

}

body {
  font-family: cursive;
}
.important h3{
  font-family: courier
  background inherit;

}

@media screen and (max-width: 768px) {
    body {
        background-color: black;
        color: green;
    }
}
@media screen and (max-width: 480px) {
  body {
    background-color: teal;
    color: pink;
  }
}
